<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 -->

 <%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>
 
 <main class="container">
     <div class="row">
         <div class="offset-md-1 col-md-10">
             <h1><% title %></h1>
             <br>
             <table class="table table-bordered table-striped table-hover">
                 <tr class="d-flex">
                     <th class="text-center col-2">Name</th>
                     <th class="text-center col-2">Expiry</th>
                     <th class="text-center col-6">Description</th>
                 </tr>
                 <% for(let count=0; count < productlist.length ; count++)  { %>
                     <tr class="d-flex">
                        <td class="text-center col-2"><%= productlist[count].Name %></td> 
                        <td class="text-center col-2"><%= productlist[count].Expiry %></td> 
                        <td class="text-center col-6"><%= productlist[count].Description %></td> 
                     </tr>
                 <% } %>
 
             </table>
         </div>
     </div>
 </main>
   
 <%- include partials/bottom_nav.ejs %>  
 
 <%- include partials/footer.ejs %>