<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 -->

 <%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>
 
 
   <!-- Main Content -->
   <main class="container">
     <div class="jumbotron">
       <h1 class="display-4">Welcome to the <%= title %> page</h1>
       <style>
         body {
           background-image: url('Assets/images/techback.jpg');
           background-size: cover;
         }
      
       </style>
    <!-- Conditional Page Loading-->
    <% if(title=="home" ) { %>
     <%- include Home %>
 
       <%} else if(title=="about" ) { %> 
         <%- include About %> 
 
         <%} else if(title=="projects" ) { %> 
           <%- include Projects %> 
 
           <%} else if(title=="services" ) { %> 
             <%- include Services %>
 
             <%} else if(title=="contact" ) { %> 
               <%- include Contact %> 
               
               <%} else if(title=="login" ) { %> 
                 <%- include Login %> 

                 
                 <% } %>
 
                 
                 <%- include partials/footer.ejs %>
   </main>
   
 <%- include partials/bottom_nav.ejs %>  
 
 <%- include partials/footer.ejs %>
   
 
 
 
 
 